.banner_h2 {
  font-family: 'Sweet Sans Pro Light', sans-serif;
  text-transform: uppercase;
  color: white;
}
.about_h2,
.yoga_h2,
.founders_h2 {
  font-family: 'Sweet Sans Pro Light', sans-serif;
  text-transform: uppercase;
  color: #15392e;
  font-family: 1rem;
}
li {
  font-family: 'Condor', sans-serif;
  color: #5fa887;
  text-transform: uppercase;
}
.h4_name {
  font-family: 'Sweet Sans Pro Light', sans-serif;
  text-transform: uppercase;
  color: #15392e;
  font-family: 1rem;
}
p {
  font-family: 'Sweet Sans Pro Light', sans-serif;
  font-size: 1rem;
  color: #464646;
}
.p_about,
.p_yoga {
  font-family: 'Sweet Sans Pro Light', sans-serif;
  font-size: 1rem;
  color: #464646;
}
.p_banner {
  font-family: 'Sweet Sans Pro Light', sans-serif;
  font-size: 1rem;
  color: white;
}
.button {
  background-color: #15392e;
  color: white;
  border-radius: 4%;
  text-transform: uppercase;
  border-style: none;
  font-family: 'Sweet Sans Pro Light', sans-serif;
  font-size: 1.4rem;
  padding: 2.5%;
}
footer {
  font-family: 'Condor', sans-serif;
  color: white;
}
footer h3,
footer .h3_connect {
  text-transform: uppercase;
}
footer .p_footer {
  color: white;
  font-family: 'Condor', sans-serif;
}
