* {
	margin: 0;
	padding: 0;
	border: 0;
}

@import 'mixins';

/* Header styling */

header {
    background-color: @dark-green;
    padding: 8% 0%;
}  

.logo2 {
    padding: 0 2%;
    width: 45%;
    margin-left: 2%;
}

nav ul {
        list-style-type: none;
        /* display: none; */
}

/* Sticky header styling */

.sticky_header {
    background-color: @dark-green;
    padding: 8% 0%;
    z-index: 9999;
    position: fixed;
    box-sizing: border-box;
}  

.logo2 {
    padding: 0 2%;
    width: 45%;
    margin-left: 2%;
}

nav ul {
        list-style-type: none;
        /* display: none; */
}

/* Hamburger menu styling */

.menu {
    display: none;
    text-align: center;
    margin-top: 4%;
}

li {
    padding: 1%;
}

ul a li:hover {
    text-decoration: underline;
    color: white;
}

.hamburger_btn {
    width: 15%;
    padding-left: 30%;
}

/* Main styling */
.sticky_body {
    margin-top: 104.5px;
    box-sizing: border-box;
    position: absolute;
}

/* Hero image styling */    

img {
    max-width: 100%;
}

.hero_over {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -67%;
}

.logo {
    width: 30%;
}

#join_btn {
    width: 40%;
    margin-top: 17%;
}

/* Banner styling */

#banner {
    margin-top: 9%;
    text-align: center;

   .change {
       background-color: @purple;
   }

   .community {
       background-color: @light-green;
   }

   .action {
       background-color: @teal;
   }

   h2, p {
       padding: 2%;
   }
}

/* About styling */
.about_overlay {
    margin-top: -17%;
    margin-left: 3%;
}

.about_h2 {
    padding: 8% 4%;
}

.p_about {
    padding-left: 10%;
}

.founders_h2 {
    text-align: center;
    margin: 10%;
}

.founders p {
    padding: 3%;
}

.seane, .suzanne, .hara {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
}

h4 {
    padding: 2%;
}

/* Yoga styling */

.yoga_overlay {
    margin-top: -20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.yoga_h2 {
    text-align: center;
    margin: 10%;
}

.p_yoga {
    padding: 0 3% 6% 3%;
}

.pose {
    width: 85%;
    padding-left: 7.5%;
    margin-bottom: 6%;
}

/* Footer styling */

footer {
    background-color: @dark-gray;
    display: inline-flex;
    width: 100%;

    .connect {
        padding: 12% 0 8% 4%;

    }
    .sm {
        width: 35%;
        padding: 1.5% 15%;
        display: flex;
        flex-direction: column;
    }

    .h3_connect {
        padding-bottom: 25%;
    } 

    .logo_footer {
        /*width: 38%;
        margin-top: 20%;
        margin-left: 3%;
        */
        display: none;
    }

    .contact_footer {
        padding: 12% 1% 3% 6%;
    }

    .otm_footer {
        padding: 10% 0%;
    }

    .address_footer{
        margin-top: 5%;
        
    }
}
