* {
	margin: 0;
	padding: 0;
	border: 0;
}

@import 'mixins';

/* Header styling */

header {
    background-color: @dark-green;
    padding: 4%;

}

nav ul {
        list-style-type: none;
        /* display: none; */
    }

/* Hero image styling */    

img {
    max-width: 100%;
}

.hero_over {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -67%;
}

.logo {
    width: 30%;
}

#join_btn {
    width: 40%;
    margin-top: 17%;
}

/* Banner styling */

#banner {
    margin-top: 9%;
    text-align: center;

   .change {
       background-color: @purple;
   }

   .community {
       background-color: @light-green;
   }

   .action {
       background-color: @teal;
   }

   h2, p {
       padding: 2%;
   }
}

/* About styling */
.about_overlay {
    margin-top: -17%;
    margin-left: 3%;
}

.about_h2 {
    padding: 8% 4%;
}

.p_about {
    padding-left: 10%;
}

.founders_h2 {
    text-align: center;
    margin: 10%;
}

.founders p {
    padding: 3%;
}

.seane, .suzanne, .hara {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
}

h4 {
    padding: 2%;
}

/* Yoga styling */

.yoga_overlay {
    margin-top: -20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.yoga_h2 {
    text-align: center;
    margin: 10%;
}

.p_yoga {
    padding: 0 3% 6% 3%;
}

.pose {
    width: 85%;
    padding-left: 7.5%;
}