@import 'variables';

.banner_h2 {
    font-family: 'Sweet Sans Pro Light', sans-serif;
    text-transform: uppercase;
    color: white;
}

.about_h2, .yoga_h2, .founders_h2 {
    font-family: 'Sweet Sans Pro Light', sans-serif;
    text-transform: uppercase;
    color: @dark-green;
    font-family: 1rem;
}

li {
    font-family: 'Condor', sans-serif;
    color: @light-green;
    text-transform: uppercase;
}

p {
    font-family: 'Sweet Sans Pro Light', sans-serif;
    font-size: 1rem;
}

.p_about {
    font-family: 'Sweet Sans Pro Light', sans-serif;
    font-size: 1rem;
}

.p_banner {
    font-family: 'Sweet Sans Pro Light', sans-serif;
    font-size: 1rem;
    color: white;
}

.button {
    background-color: @dark-green;
    color: white;
    border-radius: 4%;
    text-transform: uppercase;
    border-style: none;
    font-family: 'Sweet Sans Pro Light', sans-serif;
    font-size: 1.4rem;
    padding: 2.5%;
}

footer {
    font-family: 'Condor', sans-serif;
    color: white;
    
    h3 {
        text-transform: uppercase;
    }
}